*{
    margin: 0;
    padding: 0;
  font-family: "Inter", sans-serif;
 
}
    .header{
        width: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(1.jpg);
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        position: relavtive;

    }
    nav{
        display: flex;
        padding:2% 6% ;
        justify-content: space-between;
        align-items: center;
    }
    nav img{
        width: 150px;

    }
    .nav-links{
        flex: 1;
        text-align: right;
    }
    .nav-links ul li{
        list-style:none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: #fff;
text-decoration: none;
font-size: 14px;
    }


      .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: bold;
        margin : auto;
        transition: 0.5s;

     }

     .nav-links ul li:hover::after{
        width: 100%;
     }
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;

}

nav .fa{
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;

    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    }


.nav-links ul{
padding: 30px;
}

}

/*----course--*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 38px;
    font-weight: 60;
}

p{
color:#7c7474 ;
font-size: 14px;
font-weight: 300;
line-height: 22px;
padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;
}

.course-col{
    flex-basis: 31%;
    background: #f5f3f3;
    border-radius:10px;
    margin-bottom: 5%;
    padding: 3px 2px;
    box-sizing: border-box;
}

h3{
    text-align:center;
    font-weight: 600;
    margin: 10px 0;

}

.course-col:hover{
    box-shadow: 0 0 20px 0px  rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-------campus-----*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;

}

.layer{
    background: rgba(207, 129, 129, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(209, 183, 183, 0.5);
}



.top-bar {
  width: 100%;
  height: 10px;
  background-color: #333;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  position: absolute;  
  top: 19px;
  right: 10px;
  z-index: 999; 
}

.account-btn {
  background-color: #fff;
  color: #333;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.account-btn:hover {
  background-color: #f1f1f1;
}

.login-popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;


   
}

.login-box {
    display: inline-block;
    background: rgb(167, 159, 159);
    padding: 30px 20px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    position: absolute;
    font-family: sans-serif;
  font-size: 15px;
        letter-spacing: 1px;
              margin-top: 30px;
               cursor: pointer;
              animation: fadeIn .2s linear;
}       
 .flex {
    display: flex;
    align-items: center;
        
    gap: 0.5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input-field {
    width: 100%;         
    padding: 5px;      
    font-size: 15px;      
    box-sizing: border-box;  
    margin-bottom: 1.5px;  
}

.label{
    font-size: 15px;
    color:var(--light-color);
    cursor: pointer;
}

.a{
    font-size: 15px;
    color:var(--light-color);
   margin-left: auto;

}
.login-btn:hover {
    background-color: #e7b733; 
    color: #333;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}


.login-btn{
display: inline-block;
margin-top: 5px;
padding: 7px 20px;
background: var(--black);
color:var(--white);
font-size: 20px;
text-transform: capitalize;
width: 100%;

}





.login-box:focus{
    outline: none;
}
.close-btn{
    cursor: pointer;
}

.nav-links ul li a.active {
    color: #ac9795; /* or any color you like */
    font-weight: bold;
    border-bottom: 2px solid #f44336;
}





